@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-orange {
    --color-custom-100: 235, 90, 60;
    --color-custom-200: 0px 0px 24px #EB5A3C;
    --color-custom-300: 173, 238, 207;
    --color-custom-400: 232, 239, 235;
}