@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./font.css');

.theme-outrageous-orange {
  --color-custom-100: 235, 90, 60;
  --color-custom-200: 0px 0px 24px #eb5a3c;
  --color-custom-300: #0f2837;
  --color-custom-400: 251, 222, 216;
}

.theme-carrot-orange {
  --color-custom-100: 255, 182, 94;
  --color-custom-200: 0px 0px 24px #ffb65e;
  --color-custom-300: #0f2837;
  --color-custom-400: 255, 234, 209;
}

.theme-pompadour {
  --color-custom-100: 110, 25, 70;
  --color-custom-200: -4px 0px 24px #6e1946;
  --color-custom-300: 255, 255, 255;
  --color-custom-400: 226, 209, 218;
}

.theme-tangaroa {
  --color-custom-100: 15, 40, 55;
  --color-custom-200: -4px 0px 24px #0f2837;
  --color-custom-300: 255, 255, 255;
  --color-custom-400: 207, 212, 215;
}

body {
  font-family: effra-bold, sans-serif;
}

@layer base {
  .card:hover .card-btn {
    @apply bg-white text-custom-100;
  }

  .card:hover .card-title {
    @apply text-white;
  }

  .card:hover .user {
    @apply  !text-white;
  }
}

.recharts-wrapper .recharts-cartesian-grid-horizontal line:last-child {
  stroke-opacity: 0;
}

.recharts-wrapper .recharts-cartesian-grid-horizontal line:first-child {
  stroke-opacity: 0;
}